@import "/styles/variables";

.menuWindowContainer {
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 40;

  padding-top: 12rem;

  display: grid;
  grid-template-columns: 1fr 1fr;

  text-transform: uppercase;

  background-color: $background;
}

.menuWindowWrapper:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
