@import "/styles/variables";

.menuWindowContainer {
  height: 100vh;
  padding-top: 10rem !important;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 40;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  text-transform: uppercase;

  background-color: $background;
}

.menuWindowLockUp {
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.menuWindowWrapper:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;

  .menuLink {
    filter: blur(0px);
    transition: filter 0.2s ease-in-out;

    &:hover {
      filter: blur(10px);
    }
    span {
      font-size: 1rem;
    }
  }
}

.menuWindowWrapper:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .socialLinks {
    display: flex;
    gap: 3rem;
  }
}

.menuWindowFooter {
  margin-top: 4rem;
}
