.navContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;

  display: flex;
  justify-content: space-between;
}

.navLeft {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  .globe {
    height: 35px;
    width: 35px;
  }
}
