@import "styles/variables";

.workGallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 3rem;

    a:last-child {
        grid-column: span 2;

        @media (max-width: $mobile) {
            grid-column: span 1;
        }
    }

    @media (max-width: $mobile) {
        grid-template-columns: 1fr;
    }
}