@import url("https://use.typekit.net/wdw5vaa.css");
@import "./variables";

:root {
  --padding-global: 2rem;
}

body {
  background-color: $background;
  color: $text;

  font-family: input-mono, monospace;
  
}

.container {
  padding: var(--padding-global);
}

// ! typography

h1, .h1-style {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-size: 8rem;
}
