@import url("https://use.typekit.net/wdw5vaa.css");
@import "./variables";

:root {
  --padding-global: 2rem;

  @media (max-width: $tablet) {
    --padding-global: 1.5rem;
  }

  @media (max-width: $mobile) {
    --padding-global: 1rem;
  }
}

::selection {
  background-color: $text;
  color: $background;
}

body {
  background-color: $background;
  color: $text;

  font-family: input-mono, monospace;
}

.container {
  padding: var(--padding-global);
}

// ! typography

p,
a {
  @media (max-width: $mobile) {
    font-size: $font-small;
  }
}

.mono {
  font-family: input-mono, monospace !important;
}

h1,
.h1-style {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-size: 6rem;
  line-height: 0.9;

  @media (max-width: $tablet) {
    font-size: 5rem;
  }

  @media (max-width: $mobile) {
    font-size: 2.4rem;
  }
}

h2,
.h2-style {
  font-family: aw-conqueror-didot, serif;
  font-size: 3rem;
  line-height: 0.95;

  @media (max-width: $mobile) {
    font-size: 2rem;
  }
}

h3,
.h3-style {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-size: 1.25rem;

  @media (max-width: $mobile) {
    font-size: 1rem;
  }
}
