@import url("https://use.typekit.net/wdw5vaa.css");
@import "./variables";

:root {
  --padding-global: 2rem;
}

::selection {
  background-color: $text;
  color: $background;
}

body {
  background-color: $background;
  color: $text;

  font-family: input-mono, monospace;
}

.container {
  padding: var(--padding-global);
}

// ! typography

.mono {
  font-family: input-mono, monospace !important;
}

h1,
.h1-style {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-size: 6rem;
  line-height: 0.85;
}

h2,
.h2-style {
  font-family: aw-conqueror-didot, serif;
  font-size: 3rem;
  line-height: 0.95;
}

h3,
.h3-style {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-size: 1.25rem;
}
