// ! COLOR VARIABLES

$background: #050505;
$text: #bcbfb1;

// ! TYPOGRAPHY VARIABLES

$font-sans: neue-haas-grotesk-display, sans-serif ;

$font-small: 0.8rem;

// ! BREAKPOINT VARIABLES

$mobile: 767px;
$tablet: 991px;
